<div class="auth-form">
  <div class="container flex">
    <div class="form-container">
      <h2>Register</h2>
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input id="name" type="text" placeholder="Your name" />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" type="email" placeholder="Email" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" type="email" placeholder="Password" />
        </div>
        <div class="form-group">
          <label for="cpassword">Confirm Password</label>
          <input id="cpassword" type="email" placeholder="Confirm password" />
        </div>
        <button type="submit">Register</button>
      </form>
      <p>Already have an account? <a routerLink="/login">Login</a></p>
    </div>
  </div>
</div>
